@model Chat

@{
    ViewBag.Title = "Chat"; 
}

<link rel="stylesheet" asp-href-include="css/chat.css">

<div class="chat">
    <div class="chat__message-history" id="chat-history">
        @await Html.PartialAsync("Messages",Model.Messages.TakeLast((int)ViewBag.ChatPageSize))
    </div>
</div>

@section scripts
{
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/messageBuilder.js"></script>
    <script>
        let chatHistory = document.getElementById("chat-history");
        chatHistory.scrollTop = chatHistory.scrollHeight;
    </script>
    <script>
        const otherUser = "@ViewBag.ChatTitle";

        const chatHubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/Chathub")
            .build();

        chatHubConnection.start()
            .then(function () {
                chatHubConnection.invoke("JoinChat", "@Model.Id");
            });

        chatHubConnection.on("ReceiveMessage", function (id, text, userName, time) {
            let messageBlock;

            if (userName == otherUser) {
                messageBlock = CreateOtherMessage(id, text, time);
            }
            else {
                messageBlock = CreateSelfMessage(id, text, time);
            }

            document.getElementById("chat-history").appendChild(messageBlock);

            if (userName == otherUser) {
                chatHubConnection.invoke("ReadMessage", "@Model.Id", id);
            }

            console.log(messageBlock.offsetTop);
            messageBlock.scrollIntoView();

        });

        chatHubConnection.on("ReadMessageReceive", function (messageId) {
            let messageDescBlock = $('#message-' + messageId + ' .chat__message-desc');

            let dotParagraph = document.createElement("p");
            dotParagraph.textContent = "·";

            let statusParagraph = document.createElement("p");
            statusParagraph.textContent = "Read";

            messageDescBlock.append(dotParagraph);
            messageDescBlock.append(statusParagraph);

        });
    </script>
    <script>
        function sendMessageFormSubmit() {
            $('#sendMessageForm').submit();
            $('#send-message').val('');
        }

        document.getElementById('send-button').addEventListener('click', sendMessageFormSubmit);
        document.getElementById('sendMessageForm').addEventListener('submit', e => {
            e.preventDefault();
            sendMessageFormSubmit();
        });
    </script>
    <script>
        let page = 0;

        let loadMessages = function () {
            if (page > -1) {
                page++;
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Index", "Chat")?chatId=@Model.Id&pageNumber=' + page,
                    success: function (data, textstatus) {
                        if ($.trim(data)) {
                            $("#chat-history").prepend(data);
                        }
                        else {
                            page = -1;
                        }
                    }
                });
            }
        }

        $("#chat-history").scroll(function () {
            if (chatHistory.scrollHeight - chatHistory.scrollTop == chatHistory.clientHeight) {
                $("#chat-history").scroll(function () {
                    if ($("#chat-history").scrollTop() <= 100) {
                        loadMessages();
                    }
                });
            }
        });

    </script>
}