@import url(nullablestyle.css);
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@400;600;700&display=swap');
.chat {
    background-color: #F7F7FC;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 6px;
    padding-right: 6px;
}

.chat__self-message,
.chat__other-message {
    display: flex;
    justify-content: space-between;
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-bottom: 2px;
    border-radius: 4px;
}

.chat__check-message {
    opacity: 0;
    transition: all 0.1s ease;
}

.check-self-message {
    margin-left: 10px;
    align-self: flex-start;
}

.check-other-message {
    margin-right: 10px;
    align-self: flex-start;
}

.checked-message {
    background-color: #ededed;
}

.checked-message .chat__check-message {
    opacity: 1;
}

.chat__self-message:hover .check-self-message,
.chat__other-message:hover .check-other-message {
    opacity: 1;
}

.chat__message-history {
    overflow-y: scroll;
    padding-top: 12px;
    padding-bottom: 6px;
}

.chat__message-history::-webkit-scrollbar {
    display: none;
}

.chat__message-desc {
    display: flex;
    float: right;
}

.chat__message-desc p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 16px;
    margin-left: 2px;
    margin-right: 2px;
}

.chat__self-message-content,
.chat__other-message-content {
    max-width: 70%;
    word-wrap: break-word;
}

.chat__self-message-content {
    margin-right: 10px;
    display: inline-block;
    border-radius: 16px 16px 0 16px;
    padding: 10px;
    background: #002DE3;
    color: white;
}

.chat__other-message-content {
    margin-left: 10px;
    display: inline-block;
    border-radius: 16px 16px 16px 0;
    padding: 10px;
    background: white;
    color: #0F1828;
}

.chat__message-img {
    max-width: 100%;
    max-height: 400px;
    border-radius: 4px;
    margin-bottom: 4px;
}

.chat__replied-message {
    padding: 8px 8px;
    border-radius: 4px;
    margin-bottom: 4px;
    border-left: 4px solid;
}

.chat__replied-message img {
    max-width: 75px;
    max-height: 75px;
}

.chat__replied-from {
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    margin-bottom: 4px;
}

.chat__replied-text {
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #1B2B48;
    margin-bottom: 4px;
}

.other-replied-text {
    color: #1B2B48;
}

.other-replied-from {
    color: #002DE3;
}

.other-replied-message {
    border-color: #002DE3;
    background-color: #EDEDED;
}

.self-replied-text {
    color: white;
}

.self-replied-from {
    color: white;
}

.self-replied-message {
    background: #375FFF;
}