@import url(nullablestyle.css);
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mulish:wght@400;600;700&display=swap');
.header {
    height: 56px;
    padding-left: 16px;
    padding-right: 16px;
}

.header__menu {
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__back-button {
    margin-right: 8px;
}

.header__title {
    margin-right: 8px;
    font-family: Mulish;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
}

.header__menu img {
    display: block;
    margin: 0 auto;
    transition: all 0.2s ease;
    filter: invert(8%) sepia(50%) saturate(715%) hue-rotate(179deg) brightness(91%) contrast(97%);
}

.header__menu img:hover {
    filter: invert(13%) sepia(100%) saturate(4959%) hue-rotate(232deg) brightness(84%) contrast(116%);
}

.header__block {
    display: flex;
    align-items: center;
}

.header__block a {
    margin-right: 8px;
}

.only-title-block {
    margin-left: 8px;
}