body {
    margin: 0 auto;
}

.main-container {
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: row;
}

.left-container {
    margin: 0 auto;
    height: 100%;
}

.right-container {
    height: 100%;
    display: none;
    padding: 20px;
    padding-right: 0;
}

.content-container {
    height: calc(100% - 56px - 56px);
}

.search-input {
    background-image: url(../img/search-icon.svg);
    background-position: 8px 6px;
    background-repeat: no-repeat;
    text-indent: 32px;
}

.user-avatar {
    object-fit: cover;
}

.user-no-avatar {
    object-fit: none;
    background-color: #F7F7FC;
}

@media all and (min-width: 1200px) {
    .main-container {
        display: flex;
        flex-direction: row;
    }
    .right-container {
        display: block;
        width: 15%;
        min-width: 300px;
        margin: 0;
    }
    .left-container {
        max-width: 900px;
        margin: 0;
        width: 35%;
    }
}