body {
    max-width: 375px;
    margin: 0 auto;
}

.main-container {
    height: 100%;
}

.content-container {
    height: calc(100% - 56px - 56px);
}

.search-input {
    background-image: url(../img/search-icon.svg);
    background-position: 8px 6px;
    background-repeat: no-repeat;
    text-indent: 32px;
}

.user-avatar {
    object-fit: cover;
}

.user-no-avatar {
    object-fit: none;
    background-color: #F7F7FC;
}