<div class="header__menu">
    <p class="header__title only-title-block">Chats</p>
    <div class="header__block">
        <a href=""><img src="~/img/message_plus_alt.svg" alt=""></a>
        <a href=""><img src="~/img/list_check.svg" alt=""></a>
    </div>
</div>