<div class="header__menu">
    <p class="header__title only-title-block">Contacts</p>
    <div class="header__buttons">
        <a asp-controller="Home" asp-action="AddFriend"><img src="img/plus.svg" alt=""></a>
    </div>
</div>