<div class="header__menu">
    <div class="header__block">
        <a asp-action="Index" asp-controller="Profile"><img src="~/img/chevron_left.svg" alt=""></a>
        <p class="header__title">Your Profile</p>
    </div>
</div>