<div class="header__menu">
    <div class="header__block">
        <a asp-action="Index" asp-controller="Home"><img src="~/img/chevron_left.svg" alt=""></a>
        <p class="header__title">@ViewBag.ProfileHeader</p>
    </div>
</div>