@model Chateo.Models.User

@{
    ViewBag.Title = "Profile";
    ViewBag.Footer = "Contacts";
}

<link href="~/css/profile.css" rel="stylesheet" />

<div class="profile">
    <img class="profile__avatar" src="~/img/example-avatar.jpg" alt="">
    <div class="profile__desc">
        <p>@Model.FirstName @Model.LastName</p>
        <p class="secondary-desc">@Model.UserName</p>
    </div>
    <div class="profile-links">
        @if (ViewBag.IsFriends)
        {
            <a asp-controller="Chat" asp-action="Index" asp-route-chatId="@ViewBag.ChatId"><img src="~/img/message_circle.svg" alt="">Send message</a>
        }
        else if (ViewBag.OwnProfile)
        {
            <a asp-controller="Profile" asp-action="Settings"><img src="~/img/settings.svg" alt="">Profile settings</a>
        }
    </div>
</div>