@model Chateo.Models.User

@{
    ViewBag.Title = "Profile";
    ViewBag.Footer = "Default";
}

<link href="~/css/profile.css" rel="stylesheet" />

<div class="profile">
    @if (Model.Avatar != null)
    {
        <img class="profile__avatar user-avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
    }
    else
    {
        <img class="profile__avatar user-no-avatar" src="/img/no-avatar-icon.svg" alt="" />
    }
    <div class="profile__desc">
        <p>@Model.FirstName @Model.LastName</p>
        <p class="secondary-desc">@Model.UserName</p>
    </div>
    <div class="profile-links">
        @if (ViewBag.IsFriends)
        {
            <a asp-controller="Chat" asp-action="Index" asp-route-chatId="@ViewBag.ChatId"><img src="~/img/message_circle.svg" alt="">Send message</a>
        }
        else if (ViewBag.OwnProfile)
        {
            <a asp-controller="Profile" asp-action="Settings"><img src="~/img/settings.svg" alt="">Profile settings</a>
        }
    </div>
</div>