<!DOCTYPE html>

<html>

<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">
    <link rel="stylesheet" href="~/css/main.css" />
    <link rel="stylesheet" href="~/css/profile-container.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <main class="main-container">
        <div class="left-container">
            <div class="header">
                @await Component.InvokeAsync("Header")
            </div>
            <div class="content-container">
                @RenderBody()
            </div>
            <div class="footer">
                @await Component.InvokeAsync("Footer")
            </div>
        </div>
        <div class="right-container">
            @await Component.InvokeAsync("Profile")
        </div>
    </main>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script>
        const hubConnection = new signalR.HubConnectionBuilder()
            .withUrl("/Mainhub")
            .build();

        hubConnection.start();
    </script>
    @RenderSection("scripts", false)
</body>

</html>
