<div class="footer__menu">
    <div class="footer__contacts-button selected-footer-button">
        <span class="footer-selected-name">Contacts</span>
        <div class="footer-selected-dot"></div>
    </div>
    <a class="footer__chats-button" asp-action="Chats" asp-controller="Home"><img src="~/img/message_circle.svg" alt=""></a>
    <a class="footer__more-button" asp-action="More" asp-controller="Home"><img src="~/img/more_horizontal.svg" alt=""></a>
</div>