<div class="footer__menu">
    <a class="footer__contacts-button" asp-action="Index" asp-controller="Home"><img src="~/img/group.svg" alt=""></a>
    <a class="footer__chats-button" asp-action="Chats" asp-controller="Home"><img src="~/img/message_circle.svg" alt=""></a>
    <a class="footer__more-button" asp-action="More" asp-controller="Home"><img src="~/img/more_horizontal.svg" alt=""></a>
</div>