<div class="footer__menu">
    <a class="footer__contacts-button" asp-action="Index" asp-controller="Home"><img src="~/img/group.svg" alt=""></a>
    <a class="footer__chats-button" asp-action="Chats" asp-controller="Home"><img src="~/img/message_circle.svg" alt=""></a>
    <div class="footer__contacts-button selected-footer-button">
        <span class="footer-selected-name">More</span>
        <div class="footer-selected-dot"></div>
    </div>
</div>