@model AddFriendViewModel

@{
    ViewBag.Title = "Add new friends";
    ViewBag.Header = "NewFriend";
    ViewBag.Footer = "Contacts";
}

<link href="~/css/addfriend.css" rel="stylesheet" />

<div class="friends">
    <div class="friends__search-panel">
        <input id="friend-search-input" class="search-input" placeholder="Search" type="text">
    </div>
    <div id="friends-list" class="friends__list">
        <div class="friends__list-help-item">
            Enter a search term
        </div>
    </div>
</div>

@section scripts
{
    <script>

        let updateBtnEvents = function () {
            $('.friend-form').children("button").on("click", function () { $(this).parent().attr("action", $(this).attr("formaction")); });
        }


        let updateForms = function () {
            $('.friend-form').on("submit", function (e) {

                e.preventDefault();

                let form = $(this);
                let action = form.attr("action");

                $.ajax({
                    url: action,
                    method: 'post',
                    dataType: 'html',
                    data: form.serialize(),
                    success: function (data) {
                        let response = JSON.parse(data);
                        updateButtons(form, response);
                    }
                });
            });
        }

        let updateButtons = function (form, response) {
            switch (response.result) {
                case "RequestDeleted":
                    form.children("button").remove();

                    let btn = document.createElement("button");
                    let img = document.createElement("img");

                    $(img).attr("src", "/img/user_plus.svg");
                    btn.appendChild(img);

                    $(btn).attr("formaction", "@Url.Action("SendFriendRequest", "Home")");

                    form.append(btn);
                    break;
                case "RequestSent":
                    form.children("button").attr("formaction", "@Url.Action("DeleteFriendRequest", "Home")");
                    form.children("button").children("img").attr("src", "/img/check_big.svg");
                    break;
                case "RequestConfirmed":
                    $(`#friend-item-${response.username}`).remove();
                    break;
            }
            updateBtnEvents();
        }
    </script>

    <script>

        let page = 0;

        let loadUsers = function () {
            if (page > -1) {
                let search = $("#friend-search-input").val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("AddFriend", "Home")?search=' + search + '&pageNumber=' + page,
                    success: function (data, textstatus) {
                        if ($.trim(data)) {
                            $("#friends-list").append(data);
                            updateForms();
                            updateBtnEvents();
                        }
                        else {
                            if (page == 1) {
                                let helpItem = document.createElement("div");
                                $(helpItem).addClass("friends__list-help-item");
                                helpItem.textContent = "Nothing found";

                                $('#friends-list').append(helpItem);

                            }
                            page = -1;
                        }
                    }
                });
                page++;
            }
        }

        $("#friend-search-input").on("input", function () {
            $("#friends-list").empty();
            if ($("#friend-search-input").val() == "") {
                let helpItem = document.createElement("div");
                $(helpItem).addClass("friends__list-help-item");
                helpItem.textContent = "Enter a search term";

                $('#friends-list').append(helpItem);

            }
            else {
                page = 0;
                loadUsers();
            }
        });


        $("#friends-list").scroll(function () {
            let friendsList = document.getElementById("friends-list");
            if (friendsList.scrollTop + friendsList.clientHeight >= friendsList.scrollHeight - 300) {
                loadUsers();
            }
        });

    </script>
}