@model IEnumerable<Chat>

@foreach (var chat in Model)
{
    <a asp-controller="Chat" asp-action="Index" asp-route-chatId="@chat.Id" class="chats__list-item">
        <img src="~/img/contacts-avatar.png" alt="">
        <div class="chats__user-desc">
            <h3>@chat.Title</h3>
            @if (chat.Messages.Count > 0)
            {
                <span>@chat.Messages.Last().Text</span>
            }
            else
            {
                <span></span>
            }
        </div>
    </a>
}