@model IEnumerable<Chat>

@{ ViewBag.Title = "Chats"; }

<link rel="stylesheet" href="~/css/chats.css">

<div class="chats">
    <div class="chats__header">
        <div class="chats__story-container">
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
            <div class="chats__story-item">
                <img src="~/img/contacts-avatar.png" alt="">
                <p>Story name</p>
            </div>
        </div>
        <div class="chats__search-panel">
            <input id="chat-search-input" class="search-input" placeholder="Search" type="text">
        </div>
    </div>
    <div id="chats-list" class="chats__list">
        @await Html.PartialAsync("ChatsList", Model)
    </div>
</div>

@section scripts
{
    <script>
        $("#chat-search-input").on("input", function () {
            $("#chats-list").empty();
            loadСhats();
        });

        let loadСhats = function () {
            let search = $("#chat-search-input").val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Chats", "Home")?search=' + search,
                    success: function (data, textstatus) {
                        if ($.trim(data)) {
                            $("#chats-list").append(data);
                        }
                        else {
                            let helpItem = document.createElement("div");
                            $(helpItem).addClass("chats__list-help-item");
                            helpItem.textContent = "Nothing found";

                            $("#chats-list").append(helpItem);
                        }
                    }
                });
        }
    </script>

    <script>
        mainHubConnection.on("ReceiveMessageInChatList", function (chatId, text, userName, time) {
            let unreadCountElement = document.querySelector("#chat-" + chatId + " .chats__unread-count");

            if (unreadCountElement != null) {
                unreadCountElement.textContent++;
            }
            else {
                unreadCountElement = document.createElement("span");
                unreadCountElement.textContent = 1;
                unreadCountElement.classList.add('chats__unread-count');

                let messageDesc = document.querySelector("#chat-" + chatId + " .chats__message-desc");

                messageDesc.append(unreadCountElement);
            }

            let messageText = document.querySelector("#chat-" + chatId + " .chats__last-message");
            messageText.textContent = text;

            let messageTime = document.querySelector("#chat-" + chatId + " .chats__message-time");
            messageTime.textContent = time;
        });
    </script>
}