@model IEnumerable<Chat>

@foreach (var chat in Model)
{
<a asp-controller="Chat" asp-action="Index" asp-route-chatId="@chat.Id" class="chats__list-item">
    @if (chat.Avatar != null)
    {
        <img class="user-avatar chats__user-avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(chat.Avatar))" />
    }
    else
    {
        <img class="user-no-avatar chats__user-avatar" src="/img/no-avatar-icon-small.svg" alt="" />
    }
    <div class="chats__user-desc">
        <h3>@chat.Title</h3>
        @if (chat.Messages.Count > 0)
        {
            <span>@chat.Messages.Last().Text</span>
        }
        else
        {
            <span></span>
        }
    </div>
</a>
}