@model ContactsViewModel

@{ ViewBag.Title = "Contacts"; }

<link rel="stylesheet" asp-href-include="css/contacts.css">
<link rel="stylesheet" asp-href-include="css/addfriend.css">

<div class="contacts">
    <div class="contacts__search-panel">
        <input id="contact-search-input" placeholder="Search" type="text">
    </div>
    <div id="contacts-list" class="contacts__list">
        @await Html.PartialAsync("ContactsList", Model)
    </div>
</div>

@section scripts
{

    <script>
        $("#contact-search-input").on("input", function () {
            $("#contacts-list").empty();
            loadСontacts();
        });

        let loadСontacts = function () {
            let search = $("#contact-search-input").val();

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("Index", "Home")?search=' + search,
                    success: function (data, textstatus) {
                        if ($.trim(data)) {
                            $("#contacts-list").append(data);
                            updateForms();
                            updateBtnEvents();
                        }
                        else {
                            let helpItem = document.createElement("div");
                            $(helpItem).addClass("friends__list-help-item");
                            helpItem.textContent = "Nothing found";

                            $("#contacts-list").append(helpItem);
                        }
                    }
                });
        }
    </script>

    <script>

        let updateBtnEvents = function () {
            $('.friend-form').children("button").on("click", function () { $(this).parent().attr("action", $(this).attr("formaction")); });
        }


        let updateForms = function () {
            $('.friend-form').on("submit", function (e) {

                e.preventDefault();

                let form = $(this);
                let action = form.attr("action");

                $.ajax({
                    url: action,
                    method: 'post',
                    dataType: 'html',
                    data: form.serialize(),
                    success: function (data) {
                        let response = JSON.parse(data);
                        updateButtons(form, response);
                    }
                });
            });
        }

        let updateButtons = function (form, response) {
            switch (response.result) {
                case "RequestDeleted":
                    form.children("button").remove();

                    let btn = document.createElement("button");
                    let img = document.createElement("img");

                    $(img).attr("src", "/img/user_plus.svg");
                    btn.appendChild(img);

                    $(btn).attr("formaction", "@Url.Action("SendFriendRequest", "Home")");

                    form.append(btn);
                    break;
                case "RequestSent":
                    form.children("button").attr("formaction", "@Url.Action("DeleteFriendRequest", "Home")");
                    form.children("button").children("img").attr("src", "/img/check_big.svg");
                    break;
                case "RequestConfirmed":
                    $(`#friend-item-${response.username}`).remove();
                    break;
            }
            updateBtnEvents();
        }

    updateForms();
    updateBtnEvents();
    </script>

}