@model Chateo.Models.User

@{ ViewBag.Title = "More"; }

<link rel="stylesheet" asp-href-include="css/more.css">

<div class="more">
    <div class="more__links-list">
        <div class="more__links-group">
            <a asp-controller="Profile" asp-action="Index" class="more__main-item">
                <div class="more__item-info">
                    @if (Model.Avatar != null)
                    {
                        <img class="user-avatar more__user-avatar" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                    }
                    else
                    {
                        <img class="user-no-avatar more__user-avatar" src="/img/no-avatar-icon-small.svg" alt="" />
                    }
                    <div class="more__item-desc">
                        <p>@Model.FirstName @Model.LastName</p>
                        <p class="more__item-secondary">@Model.UserName</p>
                    </div>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
        </div>
        <div class="more__links-group">
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/user.svg" alt="" />
                    <span>Account</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/message_circle.svg" alt="" />
                    <span>Chats</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
        </div>
        <div class="more__links-group">
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/sun.svg" alt="" />
                    <span>Appereance</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/notification_outline.svg" alt="" />
                    <span>Notification</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/user.svg" alt="" />
                    <span>Privacy</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
            <a href="" class="more__link-item">
                <div class="more__item-desc">
                    <img src="~/img/folder.svg" alt="" />
                    <span>Data usage</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
        </div>
        <div class="more__links-group">
            <a asp-action="Logout" asp-controller="Account" class="more__link-item danger-more-link-item">
                <div class="more__item-desc">
                    <img src="~/img/exit.svg" alt="" />
                    <span>Logout</span>
                </div>
                <img src="~/img/chevron_right.svg" alt="" />
            </a>
        </div>
    </div>
</div>